#post img, .blur, .highlight {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.0.25);
  -moz-box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.25);
  box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.25);
}

#post img {
  width: 100%;
  margin: auto;
}

.blur {

}

.fill {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#site {
  padding: 0px 16px;
}

.center-container {
/*width is dynamically set by vankessel.ca.js*/
  width: 40%;
  margin: auto;
}

.center-container > div {
  padding: 0px 16px;
  width: 100%;
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#post {

}

a {
  font-family: 'Ubuntu', sans-serif;
  text-decoration: none;
}

.title {
  color: black;
  text-align: center;
  margin:auto;
}

.title a {
  color: black;
}

h1 {
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
}

h2, h3 {
  font-family: 'Ubuntu', sans-serif;
}

p {
  font-family: 'Ubuntu', sans-serif;
  text-align: left;
}

li {
  font-family: 'Ubuntu', sans-serif;
}

pre, code {
  font-family: 'Ubuntu Mono', monospace;
}

figure.highlight {
  background-color: rgba(255,255,255,0.4);
}
