---
---

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin box-shadow($h_off, $v_off, $blur, $spread, $color) {
  -webkit-box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.25);
     -moz-box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.25);
      -ms-box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.25);
          box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.25);
}

@mixin box-sizing($sizing) {
  -webkit-box-sizing: $sizing;
     -moz-box-sizing: $sizing;
      -ms-box-sizing: $sizing;
          box-sizing: $sizing;
}

#post {
  padding: 0px 16px;
  width: 100%;
  display: inline-block;
}

#post img, .blur, .highlight {
  @include border-radius(4px);
  @include box-shadow(4px, 4px, 8px, 0px, rgba(0,0,0,0.25));
}

#post img {
  width: 100%;
  margin: auto;
}

.fill {
  width: 100%;
  @include box-sizing(border-box);
}

#center-container {
  padding: 0px 16px;
  margin: auto;
  /*TODO: Use media directive*/
  width: 50%;
}

.section {
/*width is dynamically set by vankessel.ca.js*/
  width: 100%;
  margin: auto;
}

li {
  margin: 8px 0;
}

a {
  font-family: 'Ubuntu', sans-serif;
  text-decoration: none;
}

.title {
  color: black;
  text-align: center;
  margin:auto;
}

.title a {
  color: black;
}

h1 {
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
}

h2, h3 {
  font-family: 'Ubuntu', sans-serif;
}

p {
  font-family: 'Ubuntu', sans-serif;
  text-align: left;
}

li {
  font-family: 'Ubuntu', sans-serif;
}

pre, code {
  font-family: 'Ubuntu Mono', monospace;
}

figure.highlight {
  background-color: rgba(255,255,255,0.4);
}
