---
---

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin box-shadow($h_off, $v_off, $blur, $spread, $color) {
  -webkit-box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.25);
     -moz-box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.25);
      -ms-box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.25);
          box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.25);
}

@mixin box-sizing($sizing) {
  -webkit-box-sizing: $sizing;
     -moz-box-sizing: $sizing;
      -ms-box-sizing: $sizing;
          box-sizing: $sizing;
}

#post {
  width: 100%;
  display: inline-block;
}

#post img, .blur, .highlight {
  @include border-radius(4px);
  @include box-shadow(4px, 4px, 8px, 0px, rgba(0,0,0,0.25));
}

#post img {
  width: 100%;
  margin: auto;
}

.fill {
  width: 100%;
  @include box-sizing(border-box);
}

/*width is dynamically set by vankessel.ca.js*/
#center-container {
  margin: auto;
  /*TODO: Use media directive*/
  width: 50%;
}

.section {
  width: 100%;
  margin: auto;
}

li {
  margin: 8px 0;
}

a {
  font-family: 'Ubuntu', sans-serif;
  text-decoration: none;
}

#name a {
  color: black;
}

%text {
  font-family: 'Ubuntu', sans-serif;
  margin-left: 16px;
  margin-right: 16px;
}

h1, h2 {
  @extend %text;
  text-align: center;
}

h3 {
  @extend %text;
}

p {
  @extend %text;
  text-align: left;
  line-height: 1.5;
}

li {
  font-family: 'Ubuntu', sans-serif;
}

pre, code {
  font-family: 'Ubuntu Mono', monospace;
}

figure.highlight {
  background-color: rgba(255,255,255,0.4);
}
