<form id="subscribe-form" method="post"
  action="https://sibforms.com/serve/MUIFAGO3PIGobQfWiptTlGUSurNlY8xGx4xKUYvKpPNVOSMlW_NMKHrkHjB1lOQB5GjZxQpd7Cy0yKNMppv5DTBKstT8HRPLe58ICy1mhQ-bJqVWrG76Ec_8RXoyHoV9gl3Lr92ZXbaaGvTXU7xbNV74LIg0syryyJvNs9QexnIyTtp_9jYY_16NuB-az3_kEcdLelVMQqBIRUPP">
  <input type="hidden" name="locale" value="en">
  <input type="hidden" name="html_type" value="simple">

  <label for="EMAIL">
    <h2>Subscribe for Updates</h2>
  </label>

  <div style="text-align: center">
    <input name="EMAIL" type="email" placeholder="name@example.com" required>
    <button>
      Subscribe
    </button>
  </div>

  <p style="text-align: center"></p>
</form>