<form id="subscribe-form" method="post"
  action="https://sibforms.com/serve/MUIEAHfde0C58urIyqF0N95wN2YqjFD9zzhsdYr61ShhnuZRHx8ej1vdFr5hukgon64nQv8BmUakENprWrz0gcAxSGCJLuQVPniX5P8kp9f5M_NnqVT1DviAuIHoeNts_B2tH-JGXBDO4lbS2Ygx5lQeYxq80rn7vwFwGsAyyvGRHjaR0Tuz66NK7tECsG1zOwaM2ek1CmPnk2Wu">
  <input type="hidden" name="locale" value="en">
  <input type="hidden" name="html_type" value="simple">

  <label for="EMAIL">
    <h2>Subscribe for Updates</h2>
  </label>

  <div style="text-align: center">
    <input name="EMAIL" type="email" placeholder="name@example.com" required>
    <button>
      Subscribe
    </button>
  </div>

  <p style="text-align: center"></p>
</form>
