---
---

@mixin filter($arg) {
  -webkit-filter: $arg;
  filter: $arg;
}

/* CUSTOM PROPERTIES */
:root {
  --mouse-x: 0px;
  --mouse-y: 0px;
}

/* VARIABLES */

$box-shadow: 2px 2px 8px 2px rgba(0,0,0,0.3);
$translucent: rgba(255,255,255,0.4);
$translucent-thick: rgba(255,255,255,0.6);
$link-color: #2525d4;
$link-visited-color: #8000a8;

/* STYLES */

html {
  font-family: 'Ubuntu', sans-serif;
  background-color: lightgray;
  background-attachment: fixed;
}

#ribbon {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  width: 149px;
  height: 149px;
}

#profile {
  display: table;
  margin: auto auto 1em 0.5em;
  max-width: 33.3%;
  border-radius: 12.5%;
  border: 1em solid $translucent;
  float: right;
}

#main-grid {
  display: grid;
  grid-template-areas:
  "ul uc ur"
  "l  c  r"
  "ll lc lr";
  @media (orientation: landscape) {
    grid-template-columns: minmax(8px, 1fr) fit-content(55em) minmax(8px, 1fr);
  }
  @media (orientation: portrait) {
    grid-template-columns: minmax(8px, 1fr) 90% minmax(8px, 1fr);
    grid-template-areas:
    ". uc ."
    ".  c  ."
    ". r .";
  }
}

#grid-upper-left {
  grid-area: ul;
}

#grid-upper-center {
  grid-area: uc;
}

#grid-upper-right {
  grid-area: ur;
}

#grid-left {
  grid-area: l;
}

#grid-center {
  grid-area: c;
}

#grid-right {
  grid-area: r;
}

#grid-lower-left {
  grid-area: ll;
}

#grid-lower-center {
  grid-area: lc;
}

#grid-lower-right {
  grid-area: lr;
}

#center-flex {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

#right-flex {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

.insta-post-container {
  @extend .pane;
  margin: 1em !important;
  padding: 1em !important;

  & > iframe {
    min-width: 0 !important;
    margin-bottom: 0 !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

%tabs-shared {
  display: flex;
  flex-direction: row;
  border-radius: 4px 4px 4px 4px;

  .tab {
    flex-grow: 1;
    flex-basis: 0;
    text-align: center;
    cursor: pointer;
    &:first-child {
      border-radius: 4px 0 0 4px;
    }
    &:last-child {
      border-radius: 0 4px 4px 0;
    }
  }

  .active {
    box-shadow: $box-shadow;
    background-color: $translucent-thick;
  }
}

#tabs {
  @extend %tabs-shared;

  margin: -1em -2em 2em -2em;

  .tab {
    padding: 0.5em 1.5em;
  }
}

#tabs-bottom {
  @extend %tabs-shared;

  svg {
    $size: 64px;
    color: white;
    opacity: 0.6;
    width: 100%;
    height: 100%;

    @media all and (orientation: landscape) {
      max-width: $size;
      max-height: $size;
      @include filter(drop-shadow(2px 2px 2px black));
    }
    @media all and (orientation: portrait) {
      max-width: $size/2;
      max-height: $size/2;
      @include filter(drop-shadow(1px 1px 1px black));
    }
  }
}

#content-container {
  display: block;

  .tab-content {
    display: none;
    margin-top: 2em;
    margin-bottom: 1em;
    &.active {
      display: block;
    }
  }
}

#post {
  p, ul {
    a {
      color: $link-color;
      &:visited {
        color: $link-visited-color;
      }
    }
  }
  figure {
    padding: 1em;
    margin: 1em auto 1em auto;
    background-color: $translucent;
  }
  figcaption {
    margin: 0.5em 1em -0.5em 1em;
    line-height: 1em;
    font-size: 1em;
    text-align: center;
  }
  img {
    width: 100%;
    margin: auto;
    background-color: white;
  }
  video {
    width: 100%;
  }
  figure > iframe {
    position: absolute;
    display: block;
    margin: auto;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  figure, img, video, iframe {
    @extend .pane-shape;
  }
}

#comments, #reddit-comments {
  margin-top: 1em;
  padding: 2em;
  width: 100%;
  overflow-wrap: break-word;

  .reddit-title {
    margin-top: -0.5em;
    margin-bottom: 1.5em;
  }

  .reddit-link {
    margin-top: 0.5em;
  }

  .thing {
    @extend .pane-shape;
    padding: 0.5em;
    background-color: $translucent;
    & > small {
      display: inline-block;
      margin-left: 0.5em;
    }
    & > .md {
      margin-left: 0.5em;
    }
  }

  a {
    color: $link-color;
    &:visited {
      color: $link-visited-color;
    }
  }
  h2 {
    margin: 0;
  }
  h4 {
    margin-top: 0;
  }
  h6 {
    margin-bottom: 0;
    text-align: center;
  }
}

#related {
  margin-top: 1em;
  display: table;
  h3 {
    text-align: center;
  }
}

.blur {
  backdrop-filter: blur(16px);
}

.pane-material {
  @extend .blur;
  background-color: $translucent;
}

.pane-layout {
  box-sizing: border-box;
  margin: 1em auto 1em auto;
  padding: 1em 2em;
}

.pane-shape {
  border-radius: 4px;
  box-shadow: $box-shadow;
}

.pane {
  @extend .pane-material;
  @extend .pane-layout;
  @extend .pane-shape;
}

div.date {
  color: #1a1a1a;
  margin-top: 0.5em;
  font-size: 0.9em;
}

code.highlighter-rouge {
    border-radius: 2px;
    padding: 2px;
    background-color: rgba(255,255,255,.3);
}

ol {
  margin: 2em auto;
  font-weight: bold;
  & > li > span {
    font-weight: normal;
  }
}

li {
  margin: 1em 0;
}

h1, h2 {
  text-align: center;
}

p {
  line-height: 1.5;
}

a {
  color: black;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

pre, code {
  font-family: 'Ubuntu Mono', monospace;
}
