---
---

/* HELPERS */

@mixin translate($axis: x, $start: 0%, $end: 100%) {
  from {
    background-position-#{$axis}: $start;
  }
  to {
    background-position-#{$axis}: $end;
  }
}

@mixin filter($arg) {
  -webkit-filter: $arg;
  filter: $arg;
}

/* KEYFRAMES */

@keyframes translate-x {
  @include translate(x, 100%, 0%);
}

@keyframes translate-y {
  @include translate(y);
}

/* ANIMATIONS */

@mixin drift($x-period: 16s, $y-period: 16s) {
  animation: translate-x $x-period ease-in-out              infinite alternate,
             translate-y $y-period ease-in-out $y-period/-2 infinite alternate;
}

/* VARIABLES */

$box-shadow: 2px 2px 8px 2px rgba(0,0,0,0.3);
$translucent: rgba(255,255,255,0.4);
$translucent-thick: rgba(255,255,255,0.6);
$link-color: #2525d4;
$link-visited-color: #8000a8;

/* STYLES */

html {
  font-family: 'Ubuntu', sans-serif;
  background-color: lightgray;
  background-attachment: fixed;
}

#ribbon {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  width: 149px;
  height: 149px;
}

#profile {
  display: table;
  margin: auto auto 1em 0.5em;
  max-width: 33.3%;
  border-radius: 12.5%;
  border: 1em solid $translucent;
  float: right;
}

#center-container {
  margin: auto;
  @media (orientation: landscape) {
    max-width: 55em;
  }
  @media (orientation: portrait) {
    max-width: 90%;
  }
}

#name-container {
  $name: "Kara\Avan Kessel";
  $size: 5em;
  $mobileSize: 3em;
  display: table;
  margin: auto;
  a {
    text-decoration: none;
  }
  #name {
    position: relative;
    text-align: left;
    color: black;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px;
    @media screen and (orientation: landscape) {
      background-image: url('../images/heic1509a.jpg');
      background-size: 1280px 1024px;
      background-clip: text;
      -webkit-background-clip: text;
      @include drift(32s, 512s);
    }
    @media all and (orientation: landscape) {
      font-size: $size;
      margin-top: $size/16;
      margin-bottom: $size/16;
    }
    @media all and (orientation: portrait) {
      font-size: $mobileSize;
      margin-top: $mobileSize/16;
      margin-bottom: $mobileSize/16;
    }
  }

  #name:before {
    content: $name;
    white-space: pre;
  }

  #name:after {
    content: $name;
    white-space: pre;
    position: absolute;
    top: 0; left: 0;
    color: black;
    -webkit-text-fill-color: black;
    text-shadow: 1px 1px 4px rgba(0,0,0,1);
    z-index: -1;
  }
}

%tabs-shared {
  display: flex;
  flex-direction: row;
  border-radius: 4px 4px 4px 4px;

  .tab {
    flex-grow: 1;
    flex-basis: 0;
    text-align: center;
    cursor: pointer;
    &:first-child {
      border-radius: 4px 0 0 4px;
    }
    &:last-child {
      border-radius: 0 4px 4px 0;
    }
  }

  .active {
    box-shadow: $box-shadow;
    background-color: $translucent-thick;
  }
}

#tabs {
  @extend %tabs-shared;

  margin: -1em -2em 2em -2em;

  .tab {
    padding: 0.5em 1.5em;
  }
}

#tabs-bottom {
  @extend %tabs-shared;

  svg {
    $size: 64px;
    color: white;
    opacity: 0.6;
    width: 100%;
    height: 100%;

    @media all and (orientation: landscape) {
      max-width: $size;
      max-height: $size;
      @include filter(drop-shadow(2px 2px 2px black));
    }
    @media all and (orientation: portrait) {
      max-width: $size/2;
      max-height: $size/2;
      @include filter(drop-shadow(1px 1px 1px black));
    }
  }
}

#content-container {
  display: table;

  .tab-content {
    display: none;
    margin-top: 2em;
    margin-bottom: 1em;
    &.active {
      display: block;
    }
  }
}

#post {
  p, ul {
    a {
      color: $link-color;
      &:visited {
        color: $link-visited-color;
      }
    }
  }
  figure {
    padding: 1em;
    margin: 1em auto 1em auto;
    background-color: $translucent;
  }
  figcaption {
    margin: 0.5em 1em -0.5em 1em;
    line-height: 1em;
    font-size: 1em;
    text-align: center;
  }
  img {
    width: 100%;
    margin: auto;
    background-color: white;
  }
  video {
    width: 100%;
  }
  iframe {
    position: absolute;
    display: block;
    margin: auto;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  figure, img, video, iframe {
    @extend .pane-shape;
  }
}

#comments, #reddit-comments {
  margin-top: 1em;
  padding: 2em;
  width: 100%;

  // Allow the preload link to break anywhere to avoid overflow.
  & > h2 > a {
    word-break: break-word;
  }

  .reddit-title {
    margin-top: -0.5em;
    margin-bottom: 1.5em;
    & > a {
      word-break: break-word;
    }
  }

  .reddit-link {
    margin-top: 0.5em;
  }

  .thing {
    @extend .pane-shape;
    padding: 0.5em;
    background-color: $translucent;
    & > small {
      display: inline-block;
      margin-left: 0.5em;
    }
    & > .md {
      margin-left: 0.5em;
    }
  }

  a {
    color: $link-color;
    &:visited {
      color: $link-visited-color;
    }
  }
  h2 {
    margin: 0;
  }
  h4 {
    margin-top: 0;
  }
  h6 {
    margin-bottom: 0;
    text-align: center;
  }
}

#related {
  margin-top: 1em;
  display: table;
  h3 {
    text-align: center;
  }
}

.blur {
  backdrop-filter: blur(16px);
}

.pane-material {
  @extend .blur;
  background-color: $translucent;
}

.pane-layout {
  @extend .pane-material;
  box-sizing: border-box;
  margin: 1em auto 1em auto;
  padding: 1em 2em;
}

.pane-shape {
  border-radius: 4px;
  box-shadow: $box-shadow;
}



div.date {
  color: #1a1a1a;
  margin-top: 0.5em;
  font-size: 0.9em;
}

code.highlighter-rouge {
    border-radius: 2px;
    padding: 2px;
    background-color: rgba(255,255,255,.3);
}

ol {
  margin: 2em auto;
  font-weight: bold;
  & > li > span {
    font-weight: normal;
  }
}

li {
  margin: 1em 0;
}

h1, h2 {
  text-align: center;
}

p {
  line-height: 1.5;
}

a {
  color: black;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

pre, code {
  font-family: 'Ubuntu Mono', monospace;
}
