---
---

/* HELPERS */

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin box-shadow($h_off, $v_off, $blur, $spread, $color) {
  -webkit-box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.25);
     -moz-box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.25);
      -ms-box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.25);
          box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.25);
}

@mixin box-sizing($sizing) {
  -webkit-box-sizing: $sizing;
     -moz-box-sizing: $sizing;
      -ms-box-sizing: $sizing;
          box-sizing: $sizing;
}

@mixin background-clip($clip) {
  -webkit-background-clip: $clip;
     -moz-background-clip: $clip;
      -ms-background-clip: $clip;
          background-clip: $clip;
}

@mixin animation($name, $dur, $timing: linear, $iters: infinite, $dir: normal) {
  -webkit-animation: $name $dur $timing $iters $dir;
     -moz-animation: $name $dur $timing $iters $dir;
      -ms-animation: $name $dur $timing $iters $dir;
          animation: $name $dur $timing $iters $dir;
}

/* ANIMATIONS */

@mixin translate($axis:x, $start:0%, $end:100%) {
  from {
    background-position-#{$axis}: $start;
  }
  to {
    background-position-#{$axis}: $end;
  }
}

@keyframes translate-x {
  @include translate(x, 100%, 0%);
}
@-webkit-keyframes translate-x {
  @include translate(x, 100%, 0%);
}
@-moz-keyframes translate-x {
  @include translate(x, 100%, 0%);
}

@keyframes translate-y {
  @include translate(y);
}
@-webkit-keyframes translate-y {
  @include translate(y);
}
@-moz-keyframes translate-y {
  @include translate(y);
}

@mixin drift($x-period: 16s, $y-period: 16s) {
  -webkit-animation: translate-x $x-period ease-in-out              infinite alternate,
                     translate-y $y-period ease-in-out $y-period/-2 infinite alternate;
     -moz-animation: translate-x $x-period ease-in-out              infinite alternate,
                     translate-y $y-period ease-in-out $y-period/-2 infinite alternate;
      -ms-animation: translate-x $x-period ease-in-out              infinite alternate,
                     translate-y $y-period ease-in-out $y-period/-2 infinite alternate;
         -animation: translate-x $x-period ease-in-out              infinite alternate,
                     translate-y $y-period ease-in-out $y-period/-2 infinite alternate;
}

/* STYLES */

#post {
  display: inline-block;
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
  @include box-sizing(border-box);

  ul {
    margin: 0;
  }

  img {
    width: 100%;
    margin: auto;
  }
}

#post img, .blur, .highlight {
  @include border-radius(4px);
  @include box-shadow(4px, 4px, 8px, 0px, rgba(0,0,0,0.25));
}

/*width is dynamically set by vankessel.ca.js*/
#center-container {
  margin: auto;
  /*TODO: Use media directive*/
  width: 50%;
}

.section {
  width: 100%;
  margin: auto;
}


#name-container {
  width: auto;
  margin: auto;
  display: table;

  $name: "Kevin\AVan Kessel";
  $size: 5em;
  #name {
    position: relative;
    text-align: left;
    font-size: $size;
    margin-top: $size/16;
    margin-bottom: $size/16;
    color: black;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px;
    background-image: url('../images/heic1509a.jpg');
    //background-attachment: fixed;
    background-repeat: repeat;
    background-size: 1280px 1024px;
    @include background-clip(text);
    @include drift(32s, 512s);
  }

  #name:before {
    content: $name;
    white-space: pre;
  }

  #name:after {
    content: $name;
    white-space: pre;
    position: absolute;
    top: 0; left: 0;
    color: black;
    -webkit-text-fill-color: black;
    text-shadow: 1px 1px 4px rgba(0,0,0,1);
    z-index: -1;
  }
}

%text {
  font-family: 'Ubuntu', sans-serif;
  margin-left: 16px;
  margin-right: 16px;
}

h1, h2 {
  @extend %text;
  text-align: center;
}

h3 {
  @extend %text;
}

p {
  @extend %text;
  text-align: left;
  line-height: 1.5;
}

ul {
  margin: 1em 0;
  padding-left: 1.5em;
}

li {
  @extend %text;
  margin: 8px 0;
}

a {
  font-family: 'Ubuntu', sans-serif;
  text-decoration: none;
}

pre, code {
  font-family: 'Ubuntu Mono', monospace;
}

figure.highlight {
  background-color: rgba(255,255,255,0.4);
}
