---
---

/* HELPERS */

@mixin background-clip($clip) {
  -webkit-background-clip: $clip;
          background-clip: $clip;
}

@mixin translate($axis: x, $start: 0%, $end: 100%) {
  from {
    background-position-#{$axis}: $start;
  }
  to {
    background-position-#{$axis}: $end;
  }
}

/* KEYFRAMES */

@-webkit-keyframes translate-x {
  @include translate(x, 100%, 0%);
}
@keyframes translate-x {
  @include translate(x, 100%, 0%);
}

@-webkit-keyframes translate-y {
  @include translate(y);
}
@keyframes translate-y {
  @include translate(y);
}

/* ANIMATIONS */

@mixin drift($x-period: 16s, $y-period: 16s) {
  -webkit-animation: translate-x $x-period ease-in-out              infinite alternate,
                     translate-y $y-period ease-in-out $y-period/-2 infinite alternate;
         -animation: translate-x $x-period ease-in-out              infinite alternate,
                     translate-y $y-period ease-in-out $y-period/-2 infinite alternate;
}

/* STYLES */

html {
  font-family: 'Ubuntu', sans-serif;
  background-color: gray;
}

#center-container {
  margin: auto;
  text-align: center;
  & > * {
    display: inline-block;
    text-align: left;
    &:after {
      content: "\A"
    }
  }
  @media screen and (orientation: landscape) {
    max-width: 50%;
  }
  @media not screen and (orientation: landscape) {
    max-width: 90%;
  }
}

#name-container {
  $name: "Kevin\AVan Kessel";
  $size: 5em;
  #name {
    position: relative;
    text-align: left;
    font-size: $size;
    margin-top: $size/16;
    margin-bottom: $size/16;
    color: black;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px;
    @media screen and (orientation: landscape) {
      background-image: url('../images/heic1509a.jpg');
      background-size: 1280px 1024px;
      @include background-clip(text);
      @include drift(32s, 512s);
    }
  }

  #name:before {
    content: $name;
    white-space: pre;
  }

  #name:after {
    content: $name;
    white-space: pre;
    position: absolute;
    top: 0; left: 0;
    color: black;
    -webkit-text-fill-color: black;
    text-shadow: 1px 1px 4px rgba(0,0,0,1);
    z-index: -1;
  }
}

#post {
  padding: 1em 2em;
  img {
    width: 100%;
    margin: auto;
    background-color: white;
  }
}

#post img, .blur, figure {
  border-radius: 4px;
  box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.25);
}

#related > h3 {
  text-align: center;
  margin-bottom: 0;
}

ul {
  margin: 0 auto;
  padding-left: 1em;
  div.date {
    margin-top: 4px;
    font-size: 0.75em;
  }
}

li {
  margin: 1em 0;
}

h1, h2 {
  text-align: center;
}

p {
  line-height: 1.5;
}

a {
  text-decoration: none;
}

pre, code {
  font-family: 'Ubuntu Mono', monospace;
}

figure {
  margin: 1em;
  background-color: rgba(255,255,255,0.4);
}

figcaption {
  line-height: 1.5em;
  font-size: 1em;
  text-align: center;
}
