---
---

/* HELPERS */

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin box-shadow($h_off: 4px, $v_off: 4px, $blur: 8px, $spread: 0px, $color: rgba(0,0,0,0.25)) {
  -webkit-box-shadow: $h_off $v_off $blur $spread $color;
     -moz-box-shadow: $h_off $v_off $blur $spread $color;
      -ms-box-shadow: $h_off $v_off $blur $spread $color;
          box-shadow: $h_off $v_off $blur $spread $color;
}

@mixin box-sizing($sizing) {
  -webkit-box-sizing: $sizing;
     -moz-box-sizing: $sizing;
      -ms-box-sizing: $sizing;
          box-sizing: $sizing;
}

@mixin background-clip($clip) {
  -webkit-background-clip: $clip;
     -moz-background-clip: $clip;
      -ms-background-clip: $clip;
          background-clip: $clip;
}

@mixin animation($name, $dur, $timing: linear, $iters: infinite, $dir: normal) {
  -webkit-animation: $name $dur $timing $iters $dir;
     -moz-animation: $name $dur $timing $iters $dir;
      -ms-animation: $name $dur $timing $iters $dir;
          animation: $name $dur $timing $iters $dir;
}

/* ANIMATIONS */

@mixin translate($axis:x, $start:0%, $end:100%) {
  from {
    background-position-#{$axis}: $start;
  }
  to {
    background-position-#{$axis}: $end;
  }
}

@-webkit-keyframes translate-x {
  @include translate(x, 100%, 0%);
}
@-moz-keyframes translate-x {
  @include translate(x, 100%, 0%);
}
@keyframes translate-x {
  @include translate(x, 100%, 0%);
}

@-webkit-keyframes translate-y {
  @include translate(y);
}
@-moz-keyframes translate-y {
  @include translate(y);
}
@keyframes translate-y {
  @include translate(y);
}

@mixin drift($x-period: 16s, $y-period: 16s) {
  -webkit-animation: translate-x $x-period ease-in-out              infinite alternate,
                     translate-y $y-period ease-in-out $y-period/-2 infinite alternate;
     -moz-animation: translate-x $x-period ease-in-out              infinite alternate,
                     translate-y $y-period ease-in-out $y-period/-2 infinite alternate;
      -ms-animation: translate-x $x-period ease-in-out              infinite alternate,
                     translate-y $y-period ease-in-out $y-period/-2 infinite alternate;
         -animation: translate-x $x-period ease-in-out              infinite alternate,
                     translate-y $y-period ease-in-out $y-period/-2 infinite alternate;
}

/* STYLES */

html {
  font-family: 'Ubuntu', sans-serif;
  background-color: gray;
}

#center-container {
  margin: auto;
  > * {
    width: 100%;
    margin: auto;
  }
  @media screen and (orientation: landscape) {
    width: 50%;
  }
  @media not screen and (orientation: landscape) {
    width: 90%;
  }
}

.section {
}

#name-container {
  width: auto;
  display: table;

  $name: "Kevin\AVan Kessel";
  $size: 5em;
  #name {
    position: relative;
    text-align: left;
    font-size: $size;
    margin-top: $size/16;
    margin-bottom: $size/16;
    color: black;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px;
    @media screen and (orientation: landscape) {
      background-image: url('../images/heic1509a.jpg');
      background-size: 1280px 1024px;
      @include background-clip(text);
      @include drift(32s, 512s);
    }
  }

  #name:before {
    content: $name;
    white-space: pre;
  }

  #name:after {
    content: $name;
    white-space: pre;
    position: absolute;
    top: 0; left: 0;
    color: black;
    -webkit-text-fill-color: black;
    text-shadow: 1px 1px 4px rgba(0,0,0,1);
    z-index: -1;
  }
}

#post {
  display: inline-block;
  padding: 1em 2em;
  @include box-sizing(border-box);

  img {
    width: 100%;
    margin: auto;
    background-color: white;
  }
}

#post img, .blur, figure {
  @include border-radius(4px);
  @include box-shadow(4px, 4px, 8px, 0px, rgba(0,0,0,0.25));
}

iframe {
  display: block;
  margin: auto;
}

h1, h2 {
  text-align: center;
}

p {
  text-align: left;
  line-height: 1.5;
}

#related > h3 {
  text-align: center;
  margin-bottom: 0;
}

.date {
  font-size: 0.75em;
}

ul {
  display: table;
  margin: 0 auto;
  padding-left: 1em;
  div {
    margin-top: 4px;
  }
}

li {
  margin: 1em 0;
}

a {
  text-decoration: none;
}

pre, code {
  font-family: 'Ubuntu Mono', monospace;
}

figure {
  margin: 1em;
  background-color: rgba(255,255,255,0.4);
}

figcaption {
  line-height: 1.5em;
  font-size: 1em;
  text-align: center;
}
