---
layout: default
---

<div id="post" class="pane pane-outer" style="text-align: {{ page.text-align | default: 'left' }};">
  {{ content }}
  {% unless page.hide_social %}
  <nav id="tabs-bottom">
    <a href="https://www.facebook.com/sharer.php?u={{ page.url | absolute_url | url_encode }}" target="_blank"
      class="tab">
      <i class="fab fa-facebook-square"></i>
    </a>
    <a href="https://twitter.com/intent/tweet?via=kevin_vankessel&url={{ page.url | absolute_url | url_encode }}"
      target="_blank" class="tab">
      <i class="fab fa-twitter-square"></i>
    </a>
    <a href="https://www.linkedin.com/sharing/share-offsite/?url={{ page.url | absolute_url | url_encode }}"
      target="_blank" class="tab">
      <i class="fab fa-linkedin"></i>
    </a>
    <a href="https://www.reddit.com/submit?url={{ page.url | absolute_url | url_encode }}&title={{ page.title | url_encode }}"
      target="_blank" class="tab">
      <i class="fab fa-reddit-square"></i>
    </a>
    <a href="https://news.ycombinator.com/submitlink?u={{ page.url | absolute_url | uri_escape }}&t={{ page.title | uri_escape }}"
      target="_blank" class="tab">
      <i class="fab fa-hacker-news-square"></i>
    </a>
    <a href="mailto:?body={{ page.url | absolute_url | url_encode }}&subject={{ page.title | url_encode }}" class="tab">
      <i class="fas fa-envelope-square"></i>
    </a>
  </nav>
  {% endunless %}
</div>

{% unless page.hide_subscribe %}
<div id="subscribe" class="pane pane-outer">
  {% include subscribe.html %}
</div>
{% endunless %}

{% if page.reddit %}
<div id="reddit-comments" class="pane pane-outer" data-reddit="{{ page.reddit }}">
{% include reddit-comments.html %}
</div>
{% endif %}

{% if page.comments_backup %}
<div id="comments" class="pane pane-outer">
{% include comments.html %}
</div>
{% endif %}

{% unless page.hide_related %}
<div id="related" class="pane pane-outer">
  {% include related.html %}
</div>
{% endunless %}
