---
layout: default
---

<div id="post" class="glass shape">
  {{ content }}
</div>

{% if page.reddit %}
<div id="comments" class="glass shape" data-reddit="{{ page.reddit }}">
  <h2>Could not load comments from <a href="https://www.reddit.com/{{ page.reddit }}">reddit.com/{{ page.reddit }}</a></h2>
  <h6>Disconnect, uMatrix, and NoScript are common extensions that can cause this issue.</h6>
</div>
{% endif %}

<div id="related">
  <h3>Related Posts</h3>
  <ul class="posts">
    {% for post in site.related_posts limit:3 %}
      <li><a href="{{ post.url }}">{{ post.title }}</a><div class="date">{{ post.date | date_to_string }}</div></li>
    {% endfor %}
  </ul>
</div>
